@font-face {
  font-family: 'Star Jedi Outline';
  src: url('fonts/StarJediOutline.eot');
  src: url('fonts/StarJediOutline.eot?#iefix') format('embedded-opentype'),
    url('fonts/StarJediOutline.woff2') format('woff2'), url('StarJediOutline.woff') format('woff'),
    url('fonts/StarJediOutline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: 'Star Jedi Outline';
}
