@font-face {
  font-family: 'Star Jedi Outline';
  src: url('../fonts/StarJediOutline.eot');
  src: url('../fonts/StarJediOutline.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StarJediOutline.woff2') format('woff2'),
    url('../StarJediOutline.woff') format('woff'),
    url('../fonts/StarJediOutline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
}

h1 {
  font-family: 'Star Jedi Outline';
  color: #ffff;
}

p {
  font-size: 1.5em;
  color: #ffff;
}

#results p {
  font-size: 1rem;
  margin: 0;
}

#results .card {
  cursor: pointer;
}

#results .card:hover {
  background-color: rgb(0, 0, 0);
}
