@font-face {
  font-family: 'Star Jedi Outline';
  src: url('../fonts/StarJediOutline.eot');
  src: url('../fonts/StarJediOutline.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StarJediOutline.woff2') format('woff2'),
    url('../StarJediOutline.woff') format('woff'),
    url('../fonts/StarJediOutline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'overlap';
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(153, 153, 153, 0.726);
}

body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  outline: 1px solid slategrey;
}

h1 {
  font-family: 'Star Jedi Outline';
  color: #ffff;
}

p {
  font-size: 1.5em;
  color: #ffff;
}

#results p {
  font-size: 1rem;
  margin: 0;
}

#results .card {
  cursor: pointer;
}

#results .card:hover {
  background-color: rgb(0, 0, 0);
  border: 1px solid grey;
  color: #ffff;
}

#animated-bg {
  grid-area: overlap;
  height: 100%;
  width: 100vw;
}

#search-container {
  grid-area: overlap;
  z-index: 99;
}

#search {
  margin: 0 !important;
}

.no-bg {
  background-color: rgba(255, 255, 255, 0);
}
